/* font famaily */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    border-radius: border-box;
}
/* all font style */

.body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* header section start */
.header-container{
    max-width: 1140px;
    margin: 0 auto;
}
.logo{
    width: 135px;
    height: 82px;
}
.nav-container{
       display: flex;
       justify-content: space-between;
       align-items: center;
       margin-top: 30px;
}

.nav-content ul{
    display: flex;
    list-style: none;
    gap:48px;
    align-items: center;
}
.nav-content li a{
    text-decoration: none;
    color: #8987A1;
    font-weight: bold;

    
}
.cart-icon{
    padding-right: 10px;
    color:rgb(81, 80, 80);
    font-size: 20px;
}
.nav-content li a:hover{
    color:black;
}
  /* main section start */
 /* bg-section-start */
.main1-container{
    max-width: 1140px;
    margin: 0 auto;
}
.hero-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
}
.hero-title{
    color:#000000;
    font-size: 65px;
    font-weight: bold;

}
.FLOWERS{
    color:#E95A08;
}
.hero-pragarph{
    padding-top: 0px;
    color:rgba(0, 0, 0, 0.5);
    font-size: 22px;
    padding-bottom: 10px;
}
/* card section start */

.title-container{
    margin-top: 100px;
    text-align: center;
     padding-left: 150px;
     padding-right: 150px;

}
.card-title{
    font-size: 50px;
    font-weight: bold;

}































